/* Temas del segundo período*/

.texto{
   
    font-size: 20px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("montañas.jpg");
    background-repeat: no-repeat;

}
.imagen1{
    height: 400px;
    width: 500px;
    background-image: url("circuito.png");
    background-repeat: no-repeat;
 }
    

.titulotecno{
padding-top:300px;
font-size: 20PX;
color: black;
text-align: center;
}
.textotecno2{

    padding-top:300px;
    font-size: 20PX;
    color: black;
    text-align: center;
    }

