/* Temas del segundo período*/




}
.texto{
   
    font-size: 50px;
    padding-top: 240px;
    text-align: center;
    color: rgb(20, 20, 20);
    font-family: 'Times New Roman', Times, serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("montañas.jpg");
    

}
.imagen1{
    height: 400px;
    width: 500px;
    background-image: url("circuito.png");
    background-repeat: no-repeat;
    
    
 }
    

.titulo{
padding-top:300px;
font-size: 80PX;
color: black;
text-align: center;
}
.textotecno2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:200px;
    font-size: 50PX;
    color: black;
    text-align: center;
    }

    .textoIngles
{
font-family: Arial, Helvetica, sans-serif;
padding-top: 300px;
font-size: 30px;
color: black;
text-align: center;
}
.imagen2{
height: 800px;
width: 1500px;
background-image: url("TRASTORNOS-ALIMENTICIOS-.png");
background-repeat: no-repeat;
}
.anorexia{
font-family: Arial, Helvetica, sans-serif;
padding-top: 300px;
font-size: 30px;
color: black;
text-align: center;
}

.imagen3{

height: 300px;
width:500px;
background-image: url("images.png");
background-repeat: no-repeat;
text-align: center;
}

.bulimia{


    font-family: Arial, Helvetica, sans-serif;
    padding-top: 300px;
    font-size: 30px;
    color: black;
    text-align: center;
}
.imagen4{

height: 214px;
width: 2000px;
background-image: url("bulimia.png");
background-repeat: no-repeat;
text-align: center;
}
.actividades{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 300px;
    font-size: 30px;
    color: black;
    text-align: center;
}

