.contenedor{ 

width: 300%;
height: 1200px;
background-color: rgb(187, 66, 187);
display:inline;
flex-direction: column;
}
.encabezado{
width:100% ;
height: 200px;
background-color: rgb(197, 117, 190);
font-size: 100px
}

.sociales{
    width:100% ;
    height: 600px ;
    height: 5000px;
    background-color: rgb(192, 104, 192);
    font-size: 30px;
}
.ingles{
    width:100% ;
    height: 700px;
    font-size: 30px;
  background-color: rgb(173, 87, 137);

}
.tecnologia{
    width:100% ;
    height: 8000px;
background-color: rgb(199, 75, 147);
font-size: 30px;

}
.titulo {  
font: size 70px;
color: rgb(0, 0, 0);

}